body {
  min-width: 300px;
  overflow-x: hidden;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
}

.email-img { margin: 5px; vertical-align: middle; }

input {
  height: 30px;
  width: 70%;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 15px;
  padding-left: 4px;
  float: left;
}

.welcome { text-decoration: underline; font-size: 17px; text-align: center; }

.tag-line {
  color: #999;
  font-size: 12px;
  margin-top: -12px;
  text-align: center;
}

.examples {
  font-size: 11px;
  color: #999;
  float: left;
  margin: 4px 0 0 14px;
}

.my-form {
  overflow: hidden;
  margin: 0 0 4px 24px;
}

.add-term { padding: 2px 0; }

.button {
  padding: 4px 2px 4px 8px;
  width: 38px;
  height: 22px;
  font-size: 12px;
  display: inline-block;
  border-radius: 6px;
  line-height: 23px;
  background: #013c94;
  letter-spacing: .1em;
  color: white;
  text-decoration: none;
  margin-top: 0px !important;
  margin-left: 8px;
  float: left;
}
.button:hover {}

.youre-muting {
  text-align: left;
  margin-left: 10px;
}

.terms {
  margin-left: -12px;
}

.term { text-align: left; }

.primary { margin-top: 0px; }

.feedback-link {
  float: left;
  font-size: 11px;
  text-transform: lowercase;
}

.email-img {
  height: 25px;
  width: 25px;
  border: none;
  margin-top: -3px;
}

a.remove-term { color: #222; text-decoration: none; }

a.remove-term:hover { opacity: 0.7; }

.pack-expander {
  cursor: pointer;
  background: #e5e5e5;
  padding: 4px 8px;
  border-radius: 3px;
  border-bottom: 2px solid #bbb;
}

.pack-expander:hover {
  border-bottom: 1px solid #bbb;
}

.pack-expander:active {
  border-bottom: none;
}

.filter-packs {
  display: none;
  list-style: none;
  text-align: left;
  margin-left: -30px;
  font-size: 15px;
  clear: both;
}

.services-title {
  padding: 0;
  margin: 0 0 4px -40px;
  text-decoration: underline;
}

ul.services { list-style: none; }

.service { margin-left: -32px; font-size: 15px; }

.cta { float: right; font-size: 13px; margin-right: 4px; }

.log-in {
  float: right;
  margin: -112px -4px 0 0;
  font-size: 13px;
}