body {
  min-width: 300px;
  overflow-x: hidden;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: #222;
}

img {
  margin: 5px;
  border: 2px solid #222;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

input {
  height: 30px;
  width: 70%;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 15px;
  padding-left: 4px;
}

.welcome { text-decoration: underline; font-size: 17px; }

.tag-line { color: #999; font-size: 12px; margin-top: -12px; }

.examples { font-size: 11px; color: #999; }

.my-form { margin-bottom: 4px; }

.add-term { padding: 2px 0; }

.button {
  padding: 4px 8px;
  width: 65%;
  height: 21px;
  font-size: 12px;
  display: inline-block;
  border-radius: 6px;
  line-height: 23px;
  background: #013c94;
  letter-spacing: .1em;
  color: white;
  text-decoration: none;
  margin-top: 8px !important;
}
.button:hover {}

.term-holder { margin-bottom: -12px; }

.youre-muting {
  text-align: left;
  margin-left: 10px;
}

.terms {
  margin-left: -12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
}

.term { text-align: left; }

.primary { margin-top: 0px; }

.feedback-link {
  float: left;
  font-size: 11px;
  text-transform: lowercase;
}

.email-img {
  height: 25px;
  width: 25px;
  border: none;
  margin-top: -3px;
}

a.remove-term { color: #222; text-decoration: none; }

a.remove-term:hover { opacity: 0.7; }

.filter-packs {
  list-style: none;
  text-align: left;
  margin-left: -30px;
  font-size: 15px;
}

.add-got {
  margin-left: 6px;
}

.add-mm {
  margin-left: 60px;
}

