body {
  min-width: 300px;
  overflow-x: hidden;
  /* To Do: Open Sans or Source Sans */
  font-family: "Helvetica Neue";
  text-align: center;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

input {
  height: 25px;
  width: 70%;
  font-size: 15px;
  padding-left: 4px;
}

.welcome { text-decoration: underline; }

.tag-line { color: #999; font-size: 12px; margin-top: -12px; }

.examples { font-size: 11px; color: #999; }

.add-term { padding: 16px 0; }

.button {
  border: 2px solid #0456be;
  padding: 4px 8px;
  width: 30%;
  display: inline-block;
  border-radius: 15px;
  background: #1d7efa;
  letter-spacing: .1em;
  color: white;
  text-decoration: none;
}
.button:hover {}

.term { text-align: left; }
/*      .term:hover {
  .remove-term { display: inherit; }
}*/

.primary { margin-top: 0px; }

.tri {
  border-width: 25px;
  border-style: solid;
  border-color: transparent transparent transparent green;
  float: right;
  margin: -81px -33px 0 0;
  -webkit-transform: rotate(-45deg);
}

.remove-term { float: right; margin-right: 28px; }